@media (min-width: 768px) {
  #content {
    margin-top: 100px;
  }
}

@media (max-width: 767px) {
  #content {
    margin-top: 50px;
  }
}

.jumbotron p {
  margin: 20px 0;
}

.visibility-hidden-children > * {
  visibility: hidden;
}

.hidden {
  display: none;
}

h1 {
  margin-bottom: 50px;
}

label {
  margin-right: 20px;
}

form.form-narrow {
  max-width: 300px;
  margin: 0 auto;
}