.pln{color:#000}@media screen{.str{color:#080}.kwd{color:#008}.com{color:#800}.typ{color:#606}.lit{color:#066}.pun,.opn,.clo{color:#660}.tag{color:#008}.atn{color:#606}.atv{color:#080}.dec,.var{color:#606}.fun{color:red}}@media print,projection{.str{color:#060}.kwd{color:#006;font-weight:bold}.com{color:#600;font-style:italic}.typ{color:#404;font-weight:bold}.lit{color:#044}.pun,.opn,.clo{color:#440}.tag{color:#006;font-weight:bold}.atn{color:#404}.atv{color:#060}}pre.prettyprint{padding:2px;border:1px solid #888}ol.linenums{margin-top:0;margin-bottom:0}li.L0,li.L1,li.L2,li.L3,li.L5,li.L6,li.L7,li.L8{list-style-type:none}li.L1,li.L3,li.L5,li.L7,li.L9{background:#eee}

pre {
  margin-top: 50px;
  margin-bottom: 50px !important;
  position: relative !important;
  display: block !important;
  padding: 10px !important;
  line-height: 22px !important;
  word-break: break-all !important;
  word-wrap: break-word !important;
  white-space: pre-wrap !important;
  background-color: #f5f5f5 !important;
  border: 1px solid rgba(0,0,0,.15) !important;
  -webkit-border-radius: 4px !important;
  -moz-border-radius: 4px !important;
  border-radius: 4px !important;
}

pre[data-lang]:after {
  content: attr(data-lang);
  background-color: darkgrey;
  right: 0;
  top: 0;
  position: absolute;
  font-size: 16pt;
  color: white;
  padding: 2px 25px;
  text-transform: uppercase;
}

pre.prettyprint .kwd {
  color: #000;
  font-weight: bold;
}

pre.prettyprint .str {
  color: #d14;
}

pre.prettyprint .pun {
  color: #000;
}

pre.prettyprint .pln {
  color: #000;
}

pre.prettyprint .typ {
  color: #458;
  font-weight: bold;
}

pre.prettyprint .com {
  color: #998;
}

pre.prettyprint .tag {
  color: navy;
}

pre.prettyprint .atn {
  color: teal;
}

pre.prettyprint .atv {
  color: #d14;
}