@host {
  * {
    display: block;
  }
}

#container {
  position: relative;
  padding: .2em;
  zoom: 1;
  border: 1px solid #a8a8a8;
  background: #ffffff;
  color: #4f4f4f;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

#header {
  margin: 0;
  padding-left: 0;
  background: #e3e3e3 -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,0.8)), to(rgba(255,255,255,0)));
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  border: 0;
  outline: 0;
  line-height: 1.3;
  text-decoration: none;
  list-style: none;
  display: block;
  color: #333;
  font-weight: bold;
  text-shadow: 0px 1px 0px rgba(255,255,255,0.7);
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

.top #header {
  padding: .2em .2em 0;
}

.bottom #header {
  padding: 0 .2em .2em;
}

.left #header {
  float: left;
  width: 23%;
  height: 300px;
  background-image: none;
  padding-top: 1px;
}

.right #header {
  float: right;
  width: 23%;
  height: 300px;
  background-image: none;
  padding-top: 1px;
}

#header:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.header {
  background: #c4c4c4 -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,0.8)), to(rgba(255,255,255,0)));
  font-weight: bold;
  color: #4f4f4f;
  text-shadow: 0px 1px 0px rgba(255,255,255,0.7);
  -moz-box-shadow: inset 0px 1px 0px #fff;
  -webkit-box-shadow: inset 0px 1px 0px #fff;
  box-shadow: inset 0px 1px 0px #fff;
  -moz-border-radius-topleft: 3px;
  -webkit-border-top-left-radius: 3px;
  border-top-left-radius: 3px;
  -moz-border-radius-topright: 3px;
  -webkit-border-top-right-radius: 3px;
  border-top-right-radius: 3px;
  display: block;
  list-style: none;
  float: left;
  position: relative;
  margin: 0 .2em 1px 0;
  padding: 0;
  white-space: nowrap;
  border: 1px solid #a8a8a8;
  cursor: pointer;
}

.top .header {
  top: 1px;
  border-bottom: 0;
}

.bottom .header {
  border-top: 0;
}

.left .header {
  margin: 0 0 1px 0.2em;
  border-right: 0 none;
  float: right;
  display: block;
  white-space: normal;
  width: 98%;
}

.right .header {
  margin: 0 0.2em 1px 0;
  border-left: 0 none;
  float: left;
  display: block;
  white-space: normal;
  width: 98%;
}

.header.hover {
  background: #85b2cb -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,0.6)), to(rgba(255,255,255,0))) !important;
  font-weight: bold !important;
  color: #313131 !important;
  -moz-box-shadow: 0 0 5px #85b2cb !important;
  -webkit-box-shadow: 0px 0px 8px #85b2cb !important;
  box-shadow: 0px 0px 8px #85b2cb !important;
}

.header.selected {
  border: 1px solid #a8a8a8;
  background: #fff;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  font-weight: bold;
  color: #1C4257;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.7);
  cursor: default;
}

.top .header.selected {
  border-bottom: 0;
}

.bottom .header.selected {
  border-top: 0;
}

.left .header.selected {
  border-right: 0 none;
}

.right .header.selected {
  border-left: 0 none;
}

.header.disabled {
  opacity: .35;
  background-image: none;
  cursor: default;
}

a {
  text-decoration: none;
  outline: none;
}

.header a {
  float: left;
  padding: .5em 1em;
  text-decoration: none;
  cursor: pointer;
  color: #4f4f4f;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
}

.header.selected a, .header.selected a:link {
  color: #2f556a;
}

.header.disabled, .header.disabled a {
  cursor: default !important;
}

.header.selected a {
  cursor: default;
}

#close-thick {
  background-image: url("packages/html_components/resources/icons.png");
  float: left;
  margin: 0.6em 0.2em 0 -0.8em;
  cursor: pointer;
  background-position: -80px -128px;
  display: block;
  text-indent: -99999px;
  overflow: hidden;
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

.left #content-container {
  float: right;
  width: 75%;
}

.right #content-container {
  float: left;
  width: 75%;
}

.content {
  border-width: 0;
  padding: 1em 1.4em;
  background: none;
  -moz-border-radius-bottomleft: 3px;
  -webkit-border-bottom-left-radius: 3px;
  border-bottom-left-radius: 3px;
  -moz-border-radius-bottomright: 3px;
  -webkit-border-bottom-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.content.hidden {
  display: none;
}

#clear {
  clear: both;
}