#content-container {
  border: 1px solid #a8a8a8;
  background: #ffffff;
  color: #4f4f4f;
}

#content-table {
  width: 100%;
}

#content-table td {
  padding: 3px;
}

.select-button {
  display: inline-block;
  cursor: pointer;
}

.select-button span {
  background-image: url("../resources/icons.png") !important;
  display: block;
  text-indent: -99999px;
  overflow: hidden;
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background-position: -160px -112px;
  margin: 0 auto;
}

#hidden {
  display: none;
}