#container {
  border: 1px solid #a8a8a8;
  background: #ffffff;
  color: #4f4f4f;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}

ul {
  margin: 1em;
  padding: 0.1em;
  text-align: center;
}

li {
  margin: 0 0 5px 0;
  padding: 0;
  list-style: none;
  display: inline-block;
}

li a {
  text-decoration: none !important;
  padding: 0 5px !important;
  color: #4f4f4f !important;
  outline: none !important;
}

.strength-1 {
  font-size: 100%;
}

.strength-2 {
  font-size: 120%;
}

.strength-3 {
  font-size: 140%;
}

.strength-4 {
  font-size: 160%;
}

.strength-5 {
  font-size: 180%;
}

.hover {
  background: #85b2cb linear-gradient(top, rgba(255,255,255,0.6), rgba(255,255,255,0));
  background: #85b2cb -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,0.6)), to(rgba(255,255,255,0)));
  background: #85b2cb -moz-linear-gradient(top, rgba(255,255,255,0.6), rgba(255,255,255,0));
  color: #313131;
  -webkit-box-shadow: 0 0 5px #85b2cb;
  -moz-box-shadow: 0 0 5px #85b2cb;
  -ms-box-shadow: 0 0 5px #85b2cb;
  -o-box-shadow: 0 0 5px #85b2cb;
  box-shadow: 0 0 5px #85b2cb;
}

#hidden {
  display: none;
}