#breadcrumb-container {
  margin: 0;
  overflow: hidden;
  padding: 5px 5px 7px 5px;
  border: 1px solid #a8a8a8;
  background: #c4c4c4 -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,0.8)), to(rgba(255,255,255,0)));
  color: #333;
  font-weight: bold;
  text-shadow: 0px 1px 0px rgba(255,255,255,0.7);
  display: block;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

#breadcrumb-container > ul#list {
  margin: 0;
  padding: 0;
  display: block;
}

.separator {
  background-image: url("packages/html_components/resources/ui-icons.png");
  text-indent: -99999px;
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  margin-top: 6px;
  background-position: -32px -16px;
  float: left;
  display: block;
}

#hidden {
  display: none;
}