#menu-button-container {
  padding: 0;
}

#menu-button-container > button {
  margin: 0;
  display: inline-block;
  position: relative;
  padding: 0;
  text-decoration: none !important;
  cursor: pointer;
  text-align: center;
  zoom: 1;
  overflow: visible;
  border: 1px solid #a8a8a8;
  background: #c4c4c4 linear-gradient(top, rgba(255,255,255,0.8), rgba(255,255,255,0));
  background: #c4c4c4 -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,0.8)), to(rgba(255,255,255,0)));
  background: #c4c4c4 -moz-linear-gradient(top, rgba(255,255,255,0.8), rgba(255,255,255,0));
  font-weight: bold;
  color: #4f4f4f;
  text-shadow: 0px 1px 0px rgba(255,255,255,0.7);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}

#menu-button-container > button > #icon {
  background-image: url("../resources/icons.png");
  display: block;
  text-indent: -99999px;
  overflow: hidden;
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  background-position: -64px -16px;
  position: absolute;
  top: 50%;
  margin-top: -8px;
  left: .5em;
}

#menu-button-container > button > #text {
  padding: .4em 1em .4em 2.1em;
  display: block;
  line-height: 1.4;
}

#menu-button-container > button.hover {
  border: 1px solid #7096ab;
  background: #85b2cb linear-gradient(top, rgba(255,255,255,0.6), rgba(255,255,255,0));
  background: #85b2cb -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,0.6)), to(rgba(255,255,255,0)));
  background: #85b2cb -moz-linear-gradient(top, rgba(255,255,255,0.6), rgba(255,255,255,0));
  font-weight: bold;
  color: #313131;
  -webkit-box-shadow: 0 0 5px #85b2cb;
  -moz-box-shadow: 0 0 5px #85b2cb;
  -ms-box-shadow: 0 0 5px #85b2cb;
  -o-box-shadow: 0 0 5px #85b2cb;
  box-shadow: 0 0 5px #85b2cb;
}

h-menubar {
  position: absolute;
  margin-left: -100px;
  margin-top: 30px;
  z-index: 1000;
}

.hidden {
  display: none;
}