#hidden {
  display: none;
}

#menu-item-container {
  border: none;
  width: auto;
  clear: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  position: relative;
}

#menu-item-container > a {
  width: auto;
  padding: 0.4em 0.3em;
  display: block;
  outline: none;
  font-weight: 400;
  border: solid 1px transparent;
  float: left;
  line-height: 16px;
  cursor: pointer;
  width: 100%;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  color: #4f4f4f;
}

#menu-item-container > a > #icon {
  display: inline-block;
  float: left;
  background-image: url("../resources/icons.png");
  display: block;
  text-indent: -99999px;
  overflow: hidden;
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
}

#menu-item-container > a > #text {
  float: left;
  font-weight: normal;
  text-decoration: none;
}

#menu-item-container > a:hover > #text {
  text-decoration: none;
}

#menu-item-container > a.hover {
  background: #85b2cb linear-gradient(top, rgba(255,255,255,0.6), rgba(255,255,255,0));
  background: #85b2cb -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,0.6)), to(rgba(255,255,255,0)));
  background: #85b2cb -moz-linear-gradient(top, rgba(255,255,255,0.6), rgba(255,255,255,0));
  color: #313131;
  -webkit-box-shadow: 0 0 5px #85b2cb;
  -moz-box-shadow: 0 0 5px #85b2cb;
  -ms-box-shadow: 0 0 5px #85b2cb;
  -o-box-shadow: 0 0 5px #85b2cb;
  box-shadow: 0 0 5px #85b2cb;
}

.icon {
  opacity: 1 !important;
}