#container {
  position: relative;
  margin: 0 0 10px 0;
  padding: 10px 15px;
  overflow: hidden;
  opacity: 0.85;
  background: #aaa -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.25)), to(rgba(0, 0, 0, 0)));
  border: 1px solid #666;
  border-radius: 3px;
  color: #fff;
  text-shadow: 1px 1px 1px #333;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.8);
  transition: opacity 200ms, margin 200ms, padding 200ms;
}

#close-thick {
  position: absolute;
  top: 5px;
  right: 3px;
  cursor: pointer;
  background-image: url("../resources/icons.png");
  background-position: -96px -128px;
  text-indent: -99999px;
  overflow: hidden;
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  border-radius: 10px;
}

#icon {
  width: 32px;
  height: 32px;
  float: left;
  margin: 0;
  padding: 0;
  display: block;
  background: url("../resources/messages.png") no-repeat;
}

#icon.info {
  background-position: 0 -264px !important;
}

#icon.warn {
  background-position: 0 -396px !important;
}

#icon.error {
  background-position: 0 0px !important;
}

#icon.fatal {
  background-position: 0 -133px !important;
}

#message {
  float: right;
  width: 220px;
  padding: 0 0 5px 0;
}

#summary {
  display: block;
  padding: 0 0 7px 0;
  font-weight: bold;
}

#detail {
  color: white;
}