#menubar-container {
  padding: 0.3em;
  position: relative;
  background: #c4c4c4 -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,0.8)), to(rgba(255,255,255,0)));
  border: 1px solid #a8a8a8;
  color: #4f4f4f;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  display: block;
}

#menubar-container:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

#menubar-container > ul {
  position: static;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  line-height: 1.3;
  text-decoration: none;
  font-size: 100%;
  list-style: none;
}

#menubar-container.vertical {
  width: 180px;
}

#menubar-container.horizontal {
  width: auto;
}