#button {
  display: inline-block;
  position: relative;
  width: auto;
  zoom: 1;
  cursor: pointer;
  -moz-box-shadow: inset 0px 1px 0px #fff;
  -webkit-box-shadow: inset 0px 1px 0px #fff;
  box-shadow: inset 0px 1px 0px #fff;
  border: 1px solid #a8a8a8;
  background: #c4c4c4 -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,0.8)), to(rgba(255,255,255,0)));
  font-weight: bold;
  color: #4f4f4f;
  text-shadow: 0px 1px 0px rgba(255,255,255,0.7);
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

#button a {
  color: #4f4f4f;
  text-decoration: none;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
  outline: none;
  display: block;
  padding: 4px 5px 0 5px;
  width: auto;
  border: none;
  cursor: pointer;
  font-weight: bold;
  float: left;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

#button #trigger {
  border-right: none !important;
  border-top: none !important;
  border-bottom: none !important;
  cursor: pointer;
  width: 16px;
  height: 28px;
  padding: 0 3px;
  float: left;
  -moz-box-shadow: inset 0px 1px 0px #fff;
  -webkit-box-shadow: inset 0px 1px 0px #fff;
  box-shadow: inset 0px 1px 0px #fff;
  border: 1px solid #a8a8a8;
  background: #c4c4c4 -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,0.8)), to(rgba(255,255,255,0)));
  font-weight: bold;
  color: #4f4f4f;
  text-shadow: 0px 1px 0px rgba(255,255,255,0.7);
  -moz-border-radius-topright: 3px;
  -webkit-border-top-right-radius: 3px;
  border-top-right-radius: 3px;
  -moz-border-radius-bottomright: 3px;
  -webkit-border-bottom-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

#trigger span {
  background-image: url("packages/html_components/resources/ui-icons.png");
  display: block;
  text-indent: -99999px;
  overflow: hidden;
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  margin-top: 6px;
  background-position: -64px -16px;
}

.hover, .hover #trigger {
  -moz-box-shadow: 0px 0px 8px #85b2cb, inset 0px 1px 0px #fff;
  -webkit-box-shadow: 0px 0px 8px #85b2cb, inset 0px 1px 0px #fff;
  box-shadow: 0px 0px 8px #85b2cb, inset 0px 1px 0px #fff;
  background: #85b2cb -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,0.6)), to(rgba(255,255,255,0))) !important;
  font-weight: bold;
  color: #313131;
}

#panel {
  padding: 0.2em;
  position: absolute;
  overflow: hidden;
  -moz-box-shadow: 0px 5px 10px rgba(0,0,0,0.8);
  -webkit-box-shadow: 0px 5px 10px rgba(0,0,0,0.8);
  box-shadow: 0px 5px 10px rgba(0,0,0,0.8);
  margin-top: -5px;
  z-index: 1008;
  border: 1px solid #a8a8a8;
  background: #ffffff;
  color: #4f4f4f;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

#panel #header {
  border: 1px solid #a8a8a8;
  background: #c4c4c4 -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,0.8)), to(rgba(255,255,255,0)));
  color: #333;
  font-weight: bold;
  text-shadow: 0px 1px 0px rgba(255,255,255,0.7);
  float: left;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  margin-bottom: 0.3em;
  padding: 0.95em 0 0.3em 0.4em;
}

.checkbox {
  display: inline-block;
}

.checkbox div {
  width: 16px;
  height: 16px;
  display: inline-block;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-box-shadow: inset 0px 1px 0px #fff;
  -webkit-box-shadow: inset 0px 1px 0px #fff;
  box-shadow: inset 0px 1px 0px #fff;
  border: 1px solid #a8a8a8;
  background: #c4c4c4 -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,0.8)), to(rgba(255,255,255,0)));
  font-weight: bold;
  color: #4f4f4f;
  text-shadow: 0px 1px 0px rgba(255,255,255,0.7);
}

#header .checkbox {
  float: left;
  cursor: pointer;
}

#filter {
  float: left;
  position: relative;
  margin-right: 10px;
  margin-left: 10px;
  margin-top: -3px;
}

#filter input {
  padding: 5px 20px 1px 2px;
  font-weight: normal !important;
  background: #ffffff;
  -moz-box-shadow: inset 0 2px 2px #8f8f8f;
  -webkit-box-shadow: inset 0 2px 2px #8f8f8f;
  box-shadow: inset 0 2px 2px #8f8f8f;
  color: #313131;
  margin: 0;
  outline: medium none;
  border: 1px solid #a8a8a8;
  font-weight: bold;
  color: #4f4f4f;
  text-shadow: 0px 1px 0px rgba(255,255,255,0.7);
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  float: left;
}

#filter span {
  background-image: url("packages/html_components/resources/ui-icons.png");
  display: block;
  text-indent: -99999px;
  overflow: hidden;
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  margin-top: 3px;
  background-position: -160px -112px;
  float: left;
  position: absolute;
  right: 5px;
  top: 2px;
}

#close-thick {
  float: right;
  padding: 1px;
  margin-right: 0.2em;
  display: block;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  color: #4f4f4f;
}

#close-thick span {
  float: left;
  background-image: url("packages/html_components/resources/ui-icons.png");
  display: block;
  text-indent: -99999px;
  overflow: hidden;
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  margin-top: 1px;
  background-position: -32px -192px;
}

.checked {
  border: 1px solid #7096ab;
  background: #85b2cb -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,0)), to(rgba(255,255,255,0.4))) !important;
  font-weight: bold;
  color: #1C4257;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.7);
}

.icon-check {
  background-image: url("packages/html_components/resources/ui-icons.png");
  display: block;
  text-indent: -99999px;
  overflow: hidden;
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  margin-top: 1px;
  background-position: -64px -144px;
}

#list-wrapper {
  overflow: auto;
  clear: both;
}

#list-wrapper ul {
  border: 0 none;
  border: 1px solid #a8a8a8;
  background: #ffffff;
  color: #4f4f4f;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  margin: 0;
  padding: 0;
  outline: 0;
  line-height: 1.3;
  text-decoration: none;
  list-style: none;
}

.checkbox-item {
  display: block;
  position: relative;
  border: 0px none;
  cursor: pointer;
  font-weight: normal;
  margin: 1px 0;
  padding: 3px 5px;
  text-align: left;
  white-space: nowrap;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

.checkbox-item .checkbox {
  position: absolute;
  top: 50%;
  margin-top: -8px;
}

.checkbox-item label {
  display: block;
  padding-left: 2.2em;
  margin-top: 6px;
  cursor: pointer;
}

#hidden, .hidden {
  display: none;
}