@media (min-width: 768px) {
  #content {
    margin-top: 100px;
  }
}

@media (max-width: 767px) {
  #content {
    margin-top: 50px;
  }
}

.jumbotron p {
  margin: 20px 0;
}

h1 {
  margin-bottom: 50px;
}

label {
  margin-right: 20px;
}

form.form-narrow {
  max-width: 300px;
  margin: 0 auto;
}

table.issues {
  margin: 0 auto;
}

table.issues.margin {
  margin-bottom: 20px;
}

table.issues td {
  padding: 3px 5px;
}

table.issues img {
  width: 30px;
}