#container {
  overflow: hidden;
  position: relative;
  border: 1px solid #a8a8a8;
  background: #ffffff;
  color: #4f4f4f;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}

#image-container-list {
  position: relative;
  padding: 0px;
  margin: 0px;
}

#image-container {
  filter: inherit;
  position: absolute;
  top: 0px;
  left: 0px;
  list-style-type: none;
}

#image-container img {
  opacity: 0;
  -webkit-transition: opacity 500ms;
  -moz-transition: opacity 500ms;
  -o-transition: opacity 500ms;
  transition: opacity 500ms;
}

#caption {
  position: absolute;
  left: 0px;
  background-color: rgba(0,0,0,0.5);
  color: #FFFFFF;
  padding: 0.2em 1em;
  bottom: 0;
  height: 0;
  display: block;
  -webkit-transition: height 250ms;
  -moz-transition: height 250ms;
  -o-transition: height 250ms;
  transition: height 250ms;
}

#caption h4 {
  font-size: 12px;
}

#caption p {
  line-height: 200%;
  font-size: 12px;
}

#hidden {
  width: 1000px;
  height: 1000px;
}