#input-container {
  width: auto;
  zoom: 1;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
  position: static;
}

#input {
  background: #ffffff;
  -webkit-box-shadow: inset 0 2px 2px #8f8f8f !important;
  -moz-box-shadow: inset 0 2px 2px #8f8f8f !important;
  -ms-box-shadow: inset 0 2px 2px #8f8f8f !important;
  -o-box-shadow: inset 0 2px 2px #8f8f8f !important;
  box-shadow: inset 0 2px 2px #8f8f8f !important;
  color: #313131;
  margin: 0;
  outline: medium none;
  padding: 4px;
  border: 1px solid #a8a8a8;
  text-shadow: 0px 1px 0px rgba(255,255,255,0.7);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}

#suggestion-container {
  position: absolute;
  overflow: auto;
  padding: 0.4em;
  border: 0 none;
  height: auto;
  visibility: visible;
  z-index: 1006;
  display: block;
  background: #ffffff;
  color: #4f4f4f;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 2px 3px 7px rgba(0,0,0,0.8);
  -moz-box-shadow: 2px 3px 7px rgba(0,0,0,0.8);
  -ms-box-shadow: 2px 3px 7px rgba(0,0,0,0.8);
  -o-box-shadow: 2px 3px 7px rgba(0,0,0,0.8);
  box-shadow: 2px 3px 7px rgba(0,0,0,0.8);
}

#suggestion-container ul {
  margin: 0 0 10px 5px;
  background: #ffffff;
  color: #4f4f4f;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  line-height: 1.3;
  text-decoration: none;
  font-size: 100%;
  list-style: none;
}

.suggestion-item {
  border: 0px none;
  cursor: pointer;
  font-weight: normal;
  margin: 1px 0;
  padding: 3px 5px;
  text-align: left;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}

.hover {
  background: #aaaaaa linear-gradient(top, rgba(0,0,0,0.25), rgba(0,0,0,0));
  background: #aaaaaa -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,0.25)), to(rgba(0,0,0,0)));
  background: #aaaaaa -moz-linear-gradient(top, rgba(0,0,0,0.25), rgba(0,0,0,0));
  color: #ffffff;
  text-shadow: 1px 1px 1px #333333;
}

#hidden, .hidden {
  display: none !important;
}